@import './base.css';

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pxfuel.com%2Fen%2Fquery%3Fq%3Dhuman%2Bresources&psig=AOvVaw0dWHY8qtORiB6bVbDR7y0h&ust=1703260678419000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKD6utbyoIMDFQAAAAAdAAAAABAP');
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
